/******************************************************************

Stylesheet: Responsive Stylesheet

******************************************************************/

@media only screen and (max-width: 40em) { 
  .sidebar {    
    padding: 1.5rem 0 0;
    margin-bottom: 1.5rem;
    border-right: none;
    border-left: none;
    border-bottom:solid 1px #f2f2f2;
  }
   
  .post-sidebar {
    padding: 0;
    border-right: none;
    border-left: none;
    border-top:solid 1px #f2f2f2;
  }

  #contact-tools .social, #contact-tools .subscribe {
    text-align: center;
    padding-bottom: 1.5rem;
  }
  #contact-tools .social .hlist.left, #contact-tools .subscribe .hlist.left {
    float: none !important;
    
  }
  #contact-tools .social .hlist.left li a, #contact-tools .subscribe .hlist.left li a {
    margin: 0;
    padding-left: 10px;
  }

  #contact-tools .newsletter-form {
    text-align: center;
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
    border: none;
    border-top:solid 1px #f2f2f2;
    border-bottom:solid 1px #f2f2f2;
  }
  
  #contact-tools .newsletter-form .newsletter-name, 
  #contact-tools .newsletter-form .newsletter-email, 
  #contact-tools .newsletter-form .newsletter-send {
    float: none;
    width: 250px;
    margin: 0 auto 1rem;
    padding: 0 1.5rem;
  }
  
  #contact-tools .social a{
      font-size: 1.75rem;
  }
  #contact-tools .subscribe a {
      font-size: 1.25rem;
  }
  
  .statement h1 a {
    width: auto;
    border: solid 2px #fff;
    border-radius: 0;
    height: auto;
    padding: 1rem;
    margin: 1rem;
    color: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;  
  }
  .statement h1 a:hover, .statement h1 a:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  
  .showcase {
    height: 20rem;
  }
}

@media only screen and (min-width: 40.063em) {
  .showcase {
    height: 18rem;
  }
}

@media only screen and (min-width: 64.063em) {
  .showcase {
    height: 20rem;
  }
}

@media only screen and (min-width: 90.063em) { 
  .showcase {
    height: 24rem;
  }
}